{% extends "index.html" %}

{% block content %}

	<div id="navigation">
	
		<ul>
		
  <li id="lhome"> <a href="/patient/{{patient.pk}}/"><input type="submit" value="ΑΡΧΙΚΗ ΚΑΡΤΕΛΑ ΑΣΘΕΝΟΥΣ"/></a></li>
{% if not c_exams and to_edit %}
  <li ><a href="/add_s_exam/{{patient.pk}}/{{s_instance.pk}}/"><input type="submit" value="ΥΠΟΚΕΙΜΕΝΙΚΗ ΕΞΕΤΑΣΗ ΑΣΘΕΝΟΥΣ"/></a></li>
{% endif %}

		
		</ul>
	
	</div>


		<div id="content-wrapper">			
			<div id="content">
{% if not to_edit %}
<h3>ΠΡΟΣΘΗΚΗ ΚΛΙΝΙΚΗΣ ΕΞΕΤΑΣΗΣ</h3> <br />
{% else %}
<h3>ΤΡΟΠΟΠΟΙΗΣΗ ΚΛΙΝΙΚΗΣ ΕΞΕΤΑΣΗΣ</h3> <br />
{% endif %}


<dl>

<p id="message" class="message">{{ message }}</p>



{% if to_edit %}
<form action="/add_c_exam/{{patient.pk}}/{{s_instance.pk}}/{{c_instance.pk}}/" method="post" class="myaddform">
{% else %}
<form action="/add_c_exam/{{patient.pk}}/{{s_instance.pk}}/" method="post" class="myeditform">
{% endif %}


<table>
{{ c_exam_form.as_table }}
<tr><td colspan="2">



{% if not to_edit %}
<input type="submit" id="c_exam_submit_event" value="ΠΡΟΣΘΗΚΗ" />
{% else %}
<input type="submit" id="c_exam_submit_event" value="ΤΡΟΠΟΠΟΙΗΣΗ" />
{% endif %}

</td></tr>

</table>

</form>



</dl>

			</div>
		
		</div>







{% endblock %}