<div id="event{{event.id}}" class="event">
<li>
<h6>{{event.for_date|date:"H:i"}} : {{event.name}}
 &nbsp;&nbsp;&nbsp;<a id ="{{event.id}}" class="del_event"><input type="submit" value="X" /></a>
</h6>
</li>



<div id ="deletion_form{{event.id}}" class="deletion_form">
<input type="hidden" id="id_event{{event.id}}" value="{{event.id}}" />
&nbsp;&nbsp;&nbsp;Είστε σίγουρος;&nbsp;&nbsp;
<a id ="submit_deletion{{event.id}}" class="submit_deletion">ΝΑΙ</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
<a id ="cancel_deletion{{event.id}}" class="cancel_deletion">ΟΧΙ</a>
</div>



<dl><em>{{event.description}}</em></dl>
{% ifnotequal event.patients.name None %}
σχετίζεται με τον ασθενή  <a href="/patient/{{event.patients.pk}}/" class="patientlink"> &nbsp;{{event.patients}}</a>
{% endifnotequal %}<br /><br />
</div>
