{% extends "index.html" %}
{%block content %}


		<div id="content-wrapper">
			
			<div id="content">
					<h3>ΛΙΣΤΑ ΥΠΟΧΡΕΩΣΕΩΝ</h3>
	
<br/>					  
						  
						  <dl>

 <dt>{{forday|date:"l d  F Y"}}</dt>
<a id="add_event">ΠΡΟΣΘΗΚΗ ΓΕΓΟΝΟΤΟΣ</a> <br />
<div id="event_form">
<div id="event_errors"></div>
ΓΙΑ ΤΗΝ {{forday|date:"l d  F Y"}} <br /><br />
<table>
{{ event_form.as_table }}
<tr><td colspan="2">
<input type="hidden" id="id_date" value="{{forday}}" />
<input type="submit" id="submit_event" value="ΠΡΟΣΘΗΚΗ" />
<input type="submit" id="cancel_event" value="ΑΚΥΡΟ" />
</td></tr>
</table>

</div>


<div id="events">
{% for event in events %}
{% include 'patient/events.html' %}


{% endfor %}
</div>





						  </dl>



					  
			</div>
		
		</div>
		
		<div id="sidebar-wrapper">
		
			<div id="sidebar">

			
				<h3>ΗΜΕΡΟΛΟΓΙΟ</h3>





	
<br/>
	<dl>


<br/>{{calendar_html|safe}}
&nbsp;
</dl>


			
			</div>
		
		</div>



{% endblock %}


