{% extends "index.html" %}

{% block content %}


		<div id="content-wrapper">			
			<div id="content">
<h3>ΠΡΟΣΘΗΚΗ ΚΛΙΝΙΚΗΣ ΕΞΕΤΑΣΗΣ</h3> <br />

<dl>

<p id="message" class="message">{{ message }}</p>




{% if to_edit %}
<form action="/add_c_exam/{{patient.pk}}/{{s_instance.pk}}/{{c_instance.pk}}" method="post" class="myaddform">
{% else %}
<form action="/add_c_exam/{{patient.pk}}/{{s_instance.pk}}/" method="post" class="myeditform">
{% endif %}


<table>
{{ c_exam_form.as_table }}
<tr><td colspan="2">



{% if not to_edit %}
<input type="submit" id="c_exam_submit_event" value="ΠΡΟΣΘΗΚΗ" />
{% else %}
<input type="submit" id="c_exam_submit_event" value="ΤΡΟΠΟΠΟΙΗΣΗ" />
{% endif %}

</td></tr>

</table>

</form>



</dl>

			</div>
		
		</div>


		<div id="sidebar-wrapper">		
			<div id="sidebar">			
<h3>&nbsp;</h3> 

<br/>
	<dl>

<li><a href="/patient/{{patient.pk}}/">ΕΠΙΣΤΡΟΦΗ ΣΤΗΝ ΑΡΧΙΚΗ ΚΑΡΤΕΛΑ ΤΟΥ ΑΣΘΕΝΟΥΣ</a></li><br/>



        </dl>
			
			</div>
		
		</div>




{% endblock %}