{% extends "index.html" %}

{% block content %}

	<div id="navigation">
	
		<ul>
		
<li id="lhome"> <a href="/patient/{{patient.pk}}/"><input type="submit" value="ΚΑΡΤΕΛΑ ΑΣΘΕΝΟΥΣ"/></a></li>
{% if not management %}
<li ><a href="/add_management/{{patient.pk}}/"><input type="submit" value="ΠΡΟΣΘΗΚΗ ΕΠΙΣΚΟΠΗΣΗΣ"/></a></li>	
{% else %}
{% for m in management %}
<li ><a href="/add_management/{{patient.pk}}/{{m.pk}}/"><input type="submit" value="ΕΠΙΣΚΟΠΗΣΗ"/></a></li>
{% endfor %}
{% endif %}		
		</ul>
	
	</div>

		<div id="content-wrapper">			
			<div id="content">

 <div style="text-align: center;"><br />
<a href="#" id='addnotelink' > &nbsp;ΠΡΟΣΘΗΚΗ ΣΗΜΕΙΩΣΗΣ&nbsp; </a><br /><br />
</div>

	<p style="text-align: center;">
	<img id="tern" src="{{ MEDIA_URL }}tern.jpg" height="800"/>
	</p>
<br />


	<div id="noteform" >
	<form id="NoteAddForm" method="post" action="/notegraph/add/">	
		<fieldset>
		<legend>Add Note</legend>
		<input name="data[Note][x1]" type="hidden" value="" id="NoteX1" />
		<input name="data[Note][y1]" type="hidden" value="" id="NoteY1" />
		<input name="data[Note][height]" type="hidden" value="" id="NoteHeight" />
		<input name="data[Note][width]" type="hidden" value="" id="NoteWidth" />
		<input name="patient" type="hidden" value="{{patient.pk}}" id="patient" />
		<textarea name="data[Note][note]" id="NoteNote" /></textarea>
		</fieldset>
		<div class="submit"><input type="submit" value="Submit" /> &nbsp;&nbsp;&nbsp;<input type="button" value="Cancel" id="cancelnote" ></div>
		</form>

	</div>

<br><br>


	<script type="text/javascript">

		$(window).load(function () {
			$('#tern').imgNotes({{notes|safe}}); //If your notes data is is not named notes pass it
 
			//$('#tern').imgAreaSelect({ onSelectChange: showaddnote })
 
			$('#cancelnote').click(function(){
				$('#tern').imgAreaSelect({ hide: true });
				$('#noteform').hide();
			});

			$('#addnotelink').click(function(){
				$('#tern').imgAreaSelect({ onSelectChange: showaddnote, x1: 120, y1: 90, x2: 280, y2: 210 });
				return false;
			});
		});
		
	function showaddnote (img, area) {
		imgOffset = $(img).offset();
		form_left  = parseInt(imgOffset.left) + parseInt(area.x1);
		form_top   = parseInt(imgOffset.top) + parseInt(area.y1) + parseInt(area.height)+5;

		$('#noteform').css({ left: form_left + 'px', top: form_top + 'px'});

		$('#noteform').show();

		$('#noteform').css("z-index", 10000);
		$('#NoteX1').val(area.x1);
		$('#NoteY1').val(area.y1);
		$('#NoteHeight').val(area.height);
		$('#NoteWidth').val(area.width);

	}
		

	</script>


			</div>		
		</div>


		<div id="sidebar-wrapper">		
			<div id="sidebar">

  <dl>
		<dt>ΙΣΤΟΡΙΚΟ ΤΟΥ {{patient}}:</dt><br />

<dt>ΕΞΕΤΑΣΕΙΣ:</dt><br />

		{% for c_exam in c_exams %}
		<li class="physicalexamination"><a href="/add_c_exam/{{patient.pk}}/{{c_exam.s_exam.pk}}/{{c_exam.pk}}/">{{c_exam}}</a></li>
                <li class="subjectiveexamination"><a href="/add_s_exam/{{patient.pk}}/{{c_exam.s_exam.pk}}/">{{c_exam.s_exam}}</a></li><br /><br />
 		{% endfor %}<br /><br />



			</div>		
		</div>




{% endblock %}