{% extends "index.html" %}

{% block content %}


	<div id="navigation">
	
		<ul>
		
  <li id="lhome"> <a href="/patient/{{patient.pk}}/"><input type="submit" value="ΑΡΧΙΚΗ ΚΑΡΤΕΛΑ ΑΣΘΕΝΟΥΣ"/></a></li>
{% if not c_exams and to_edit %}
  <li ><a href="/add_c_exam/{{patient.pk}}/{{s_instance.pk}}/"><input type="submit" value="ΠΡΟΣΘΗΚΗ ΚΛΙΝΙΚΗΣ ΕΞΕΤΑΣΗΣ"/></a></li>
{% endif %}

		
		</ul>
	
	</div>

		<div id="content-wrapper">			
			<div id="content">
{% if not to_edit %}
<h3>ΠΡΟΣΘΗΚΗ ΥΠΟΚΕΙΜΕΝΙΚΗΣ ΕΞΕΤΑΣΗΣ</h3> <br />
{% else %}
<h3>ΤΡΟΠΟΠΟΙΗΣΗ ΥΠΟΚΕΙΜΕΝΙΚΗΣ ΕΞΕΤΑΣΗΣ</h3> <br />
{% endif %}


<dl>

<p id="message" class="message">{{ message }}</p>




{% if to_edit %}
<form action="/add_s_exam/{{patient.pk}}/{{s_instance.pk}}/" method="post" class="myaddform">
{% else %}
<form action="/add_s_exam/{{patient.pk}}/" method="post" class="myeditform">
{% endif %}


<table>
{{ s_exam_form.as_table }}
<tr><td colspan="2">



{% if not to_edit %}
<input type="submit" id="s_exam_submit_event" value="ΠΡΟΣΘΗΚΗ" />
{% else %}
<input type="submit" id="s_exam_submit_event" value="ΤΡΟΠΟΠΟΙΗΣΗ" />
{% endif %}

</td></tr>

</table>

</form>



</dl>

			</div>
		
		</div>

{% if c_exams%}
		<div id="sidebar-wrapper">		
			<div id="sidebar">			
<h3>&nbsp;</h3> 

<br/>
	<dl>




		<dt>ΑΝΤΙΣΤΟΙΧΗ ΚΛΙΝΙΚΗ ΕΞΕΤΑΣΗ:</dt><br/>
		{% for c_exam in c_exams %}
		<li class="physicalexamination"><a href="/add_c_exam/{{patient.pk}}/{{s_instance.pk}}/{{c_exam.pk}}/">{{c_exam}}</a></li>
		{% endfor %}


<br/><br/>



        </dl>
			
			</div>
		
		</div>


{% endif %}

{% endblock %}