{% extends "index.html" %}

{% block content %}

{% load patient_filters %}
		<div id="content-wrapper">			
			<div id="content">

  <dl>
		<dt>ΣΥΜΠΛΗΡΩΣΤΕ ΤΟ (ΜΕΡΙΚΟ) ΟΝΟΜΑ ΑΣΘΕΝΟΥΣ</dt><br />

		    <form action="/search_patient/" method="get" id="search">
		    <input type="text" id="name" class ="text" name="patient_name" />
		    <input type="submit" value="ΕΥΡΕΣΗ" />
		    </form>

		{% for patient in patients %}
		<br />
		<span  class="searchresult"><a href="/patient/{{patient.pk}}/">{{patient}}</a></span><br/>
		{% empty %}
		<br />
		<h3>ΔΥΣΤΥΧΩΣ ΔΕΝ ΒΡΕΘΗΚΑΝ ΑΣΘΕΝΕΙΣ</h3>
		{% endfor %}
<br /><br />
 <dl>
<dt>ΑΣΘΕΝΕΙΣ ΠΟΥ ΠΡΟΣΤΕΘΗΚΑΝ ΠΡΟΣΦΑΤΑ:</dt>
{% get_latest_content patient.patient 10 as patients %}
		{% for patient in patients %}
		<br />
		<li class="patientlink"><a href="/patient/{{patient.pk}}/">{{patient}}</a></li>
		{% endfor %}
 </dl>

  </dl>


			</div>		
		</div>




{% endblock %}