.note {
	display: none;
	background: url(spacer.gif); 
	border: 3px dotted red; 
	overflow: hidden; 
	position: absolute; 
	z-index: 0;
	cursor: text;
}

.notep {
	display: none; 
	background: #ddd; 
	font-size: 10pt; 
	margin-top: 0px; 
	padding: 12px;
	position: absolute;
	width: 175px;
	cursor: text;
  color:blue;
} 

#noteform {
	display: none;
	position: absolute;
	width: 250px;
}

#noteform textarea{
	width: 100%;
}