html
{
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #333333;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

/* Links */

a:link { text-decoration: none; color: #7799bb; }

a:visited { text-decoration: none; color: #557799; }

a:hover, a:active { color: #dd5555; }

/* Html Elements */

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0; padding: 20px 40px 0; color: #779955; }

h1 { font-size: 32px; }

h2 { font-size: 28px; }

h3 { font-size: 24px; }

h4 { font-size: 20px; }

h5, h6 { font-size: 17px; }

ul, ol, dl, blockquote, pre
{
	color: #999999;
	margin: 10px 35px; 
	padding: 10px 30px; 
	line-height: 1.6em;
	border: 1px dotted #FAF8CC;
/*background-color:#ECE5B6;*/
}

p { margin: 0; }

ul { list-style-type: square; } 

dt
{
	margin: 0;
	color: #7799bb;
	font-size: 10px; 
	font-weight: bold;
	padding: 10px 0 2px; 
	text-transform: uppercase; 
}

dd { margin: 0; padding: 2px 0 5px; margin-bottom: 5px;  }

dd.last { border-bottom-width: 0; }

pre { font-family: Consolas, Verdana, "Courier New"; font-size: 11px; padding: 10px 30px; }

code { color: #779955; }

abbr, acronym { text-decoration: none; border-bottom: 1px dotted #aaaaaa; cursor: help; }

em { font-style: italic; }

strong { font-weight: bold; }

ins { color: #999999; text-decoration: none; padding-left: 20px; background: transparent url(images/information.png) center left no-repeat; }

del { text-decoration: line-through; } 

blockquote { text-align: right; }

blockquote p { text-align: left; }

blockquote cite { font-style: normal; padding-right: 10px; }

/* Structure */

body
{
	margin: 0;
	float: left;
	width: 100%; 

}

#header
{
	float: left; 
	width: 100%; 
	height: 60px;
	clear: both;
	border-top: 10px solid #111111;
	background: #222222 url(images/navigation_hover.gif) top left repeat;
}

#navigation
{
	float: left;
	width: 100%; 
	clear: both;
	color: #333333;
	border-bottom: 5px solid #222222;
	background: #eeeeee url(images/navigation_bg.gif) top left repeat; 
}


#wrapper
{
	clear: both;
	float: left;
	width: 100%;

	margin: 10px 0; 

}

#content-wrapper
{
	width: 70%;
	float: left;

}

#content
{
	float: left;
	padding: 0 10px;
	width: 100%;


}

#sidebar-wrapper
{ 
	width: 30%;
	float: left;
}

#sidebar
{
	float: left;
	padding: 0 0px;
}



/* Header */

#header h1 { padding: 8px; float:right;}
#header h2 { padding: 8px 40px; float: left;
margin-top:30px;
border: 1px solid #222222;
background: #eeeeee url(images/navigation_bg.gif) top left repeat; 
}

/* Navigation */

#navigation ul { float: left; list-style-type: none; margin: 0; padding: 0; background: none; border-width: 0; }

#navigation li { float: left; }

#navigation a
{
	float: left;
	display: block;
	padding: 5px 10px; 
}

#navigation a:link,
#navigation a:visited
{
	color: #002244; 
	font-weight: bold; 
	text-transform: uppercase; 
}

#navigation a:hover,
#navigation a:active
{
	color: #7799bb;
	background: #333333 url(images/navigation_hover.gif) top left repeat;
}

li#lhome a:hover,
li#lhome a:active
{
	background-position: 0 -3px; 
}

li#lproducts a:hover,
li#lproducts a:active
{
	background-position: 0 1px; 
}

li#lsolutions a:hover,
li#lsolutions a:active
{
	background-position: 0 2px; 
}

li#lmysterious a:hover,
li#lmysterious a:active
{
	background-position: 0 -1px; 
}

li#labout a:hover,
li#labout a:active
{
	background-position: 0 -2px; 
}

li#lcontact a:hover,
li#lcontact a:active
{
	background-position: 0 -3px; 
}

body#babout li#labout a
{
	color: #99bbdd;
	background: #333333 url(images/navigation_hover.gif) 0 -2px repeat;
}

/* Sidebar */

#sidebar p
{
	color: #999999;
	margin: 10px 35px; 
	padding: 5px 30px; 
	line-height: 1.6em;
	border: 1px solid #1a1a1a;
	border-top: 10px solid #151515;
	background: #404040 url(images/navigation_hover.gif) top left repeat;
}

#add_event,#add_s_exam{
cursor:pointer;
}

.del_event{
cursor:pointer;
font: normal 8px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
color:pink;
}
.submit_deletion{
cursor:pointer;
color:green;
}
.cancel_deletion{
cursor:pointer;
color:red;
}
.hidden{display:none;}
.visible{display:block;}
.new_review{background-color:Pink;}

#addnotelink{
font: normal 22px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
border: 1px dotted #ffffff;
background-color:#736F6E;
color:white;
}

.message{
color:red;
font: normal 14px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

.myaddform{
color:#7799bb;
/*background-color:#FAF8CC;*/
}

.myeditform{
color:#7799bb;
background-color:#E3E4FA;
}

.myforminput{
color:blue;
background-color:white;
}

.patientlink{

font: bold 14px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
color:#99C68E;
}

.searchresult{
font: normal 22px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
text-decoration:underline;
color:#99C68E;
margin-left: 10px; 

}

.subjectiveexamination{
margin-left: 35px;
font: bold 14px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
color:red;
}

.physicalexamination{
margin-left: 20px;
font: bold 14px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
color:blue;
}

.management{
margin-left: 20px;
font: bold 14px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
color:green;
}

.top_menu{
font: bold 20px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}