<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

	<title>ΞiΝΕΣ ΦΥΣΙΚΟΘΕΡΑΠΕΥΤΡΙΕΣ</title>
	
	<meta http-equiv="content-language" content="en-us" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<meta name="author" content="Author Name Goes Here" />
	<meta name="design" content="Sadhana Ganapathiraju" />

	<meta name="copyright" content="Copyright Goes Here" />
	<meta name="description" content="Description Goes Here" />
	<meta name="keywords" content="And, Finally, Keywords Go Here." />
	

	
	<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}screen.css" />
 {% load calendar_tags %}

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}imgnotes.css" >

	<script type="text/javascript" src="{{ MEDIA_URL }}jquery-1.3.1.min.js"></script>
{% calendar_media %}
        <script type="text/javascript" src="{{ MEDIA_URL }}scripts.js"></script>

	<script type="text/javascript" src="{{ MEDIA_URL }}jquery.imgareaselect-0.4.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}jquery.imgnotes-0.2.js"></script>
	<!--[if lt ie 7]><link rel="stylesheet" type="text/css" media="screen" href="ie-win.css" /><![endif]-->


</head>

<body id="babout">
    {% block extrahead %}
    <script type="text/javascript">
    var do_with_ajax = false
    </script>
    {% endblock%}




	<div id="header">
	
		<h1>ΦΥΣΙΚΟΘΕΡΑΠΕΥΤΗΣ</h1>
			<h2 class="top_menu"><a href="/">ΑΡΧΙΚΗ</a></h2>
			<h2 class="top_menu"><a href="/add_patient/">ΠΡΟΣΘΗΚΗ ΑΣΘΕΝΟΥΣ</a></h2>
			<h2 class="top_menu"><a href="/search_patient/">ΕΥΡΕΣΗ ΑΣΘΕΝΟΥΣ</a></h2>

	</div>
	



	
	<div id="wrapper">


{% block content %}	


{% endblock %}	
	
	</div>
	


</body>
</html>
